html, body {
    margin: 0;
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#containt-table {
    flex: 0 30 100%;
}

/* Menu ------------------------------------------------ */
#menu {
    display: flex;
    height: 10%;
    border-bottom: 1px solid orange;
    align-items: center;
    font-family: Roboto;
    font-weight: bold;
    box-sizing: border-box;
    box-shadow: -10px -1px 10px orange;
}

#filtro {
    /* https://stackoverflow.com/questions/1895476/how-to-style-a-select-dropdown-with-css-only-without-javascript */
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    background: url(imagenes/filter.png) no-repeat 87% 4px;
    border: none;
    font-family: Roboto;
    font-size: 16px;
    height: 34px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 110px;
    margin-left: 25px;
}

#filtro option {
    margin: 15px;
}

.boton {
    width: 105px;
    height: 34px;
    text-align: left;
    background-color: white;
    border: none;
    font-size: 16px;
    font-family: Roboto;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: 87% 4px;
}

#boton-agregar {
    width: 108px;
    background-image: url(imagenes/add_circle_outline-24px.png);
}

#boton-eliminar {
    background-image: url(imagenes/outline-delete-24px.png);
}

#filtro:hover, .boton:hover {
    color: #ffa500;
}

#filtro:hover {
    background-image: url(imagenes/filter_orange.png)
}

#boton-agregar:hover {
    background-image: url(imagenes/add_circle_orange.png);
} 

#boton-eliminar:hover {
    background-image: url(imagenes/delete_orange.png);
}

/* Galeria ---------------------------------------------- */
#table {
    height: 90%;
    min-width: 200px;
    display: flex;
    flex-flow: row wrap;
    overflow-y: auto;
    justify-content: center;
    align-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.item {
    width: 150px;
    height: 150px;
    overflow: hidden;
    background-color: black;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.check {
    position: absolute;
    visibility: hidden;
    top: 1px;
    left: 0px;
    width: 17px;
    height: 17px;
}

.item:hover .check {
    visibility: visible;
}


/* visor ------------------------------------------------------ */

#visor {
    flex: 1 1 850px;
    min-width: 500px;
    display: none;
    border-left: 1px solid gray;
}

/* Este div es flexible para poder centrar la imagen cunado esta es
   mas pequeña que el div. */
#div-imagen {
    height: 85%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

#div-imagen #imagen {
    flex: 0;
    display: none;
    max-width: 100%;
    max-height: 100%;
}

#div-imagen #cerrar {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
}

#div-informacion {
    height: 15%;
    border-top: 1px solid gray;
    font-family: 'Assistant', sans-serif;
    overflow-y: hidden;
    box-sizing: border-box;
}

#div-informacion #titulo {
    display: block;
    margin-left: 25px;
    margin-top: 12px;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#div-informacion #autor {
    display: block;
    margin-left: 28px;
    margin-top: 1px;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#div-informacion #titulo:hover, #div-informacion #autor:hover {
    color: orange;
}

/* Dialogo agregar imagen ------------------------------- */
#alert-dialog-agregar-imagen {
    display: none;
    position: absolute;
    width: 350px;
    height: 575px;
    top: calc(50vh - 300px);
    left: calc(50vw - 175px);
    background-color: lightblue;
    box-shadow: 0px 0px 25px black;
    border-radius: 3px;
}

#alert-dialog-agregar-imagen #cerrar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
}

#seleccionar-imagen {
    height: 40%;
    background-color: rgb(49, 49, 49);
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: url(imagenes/borde-cuadrado.png);
    background-repeat: no-repeat;
    background-size: 190px;
    background-position: center;
}

#preview {
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#agregar-informacion {
    height: 60%;
    background-color: white;
    padding: 12px 36px 12px 36px;
    box-sizing: border-box;
    font-family: Roboto;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#agregar-informacion h4 {
    margin-top: 10px;
    margin-bottom: 8px;
    font-weight: normal;
}

#agregar-informacion input {
    width: 278px;
    height: 18px;
    margin-bottom: 2px;
}

#submit {
    background-color: rgb(49, 49, 49);
    border-radius: 3px;
    border-style: none;
    width: 125px;
    height: 35px;
    position: absolute;
    right: 35px;
    bottom: 20px;
    font-family: Roboto;
    font-size: 14px;
    color: white;
    box-shadow: 0px 0px 1px 0px black;

}

#submit:hover {
    background-color: #ffa500;
}

